{% extends "layout.html" %}
{% block title %}Job Editor{% endblock %}
{% block body %}
    <form method="POST">
        {% if not link %}

            <label>Name</label>
            <input id="name" name="name" type="text" maxlength="250"/>

            <label>Sources</label>
            <select multiple>
                {% for source in sources %}
                    <option value="{{source}}">{{source}}</option>
                {% endfor %}
            </select>

            <label>Location</label>
            <input id="location" name="location" type="text" maxlength="250"/>

            <label>Latitude</label>
            <input id="lat" name="lat" type="text" maxlength="250"/>

            <label>Longitude</label>
            <input id="lon" name="lon" type="text" maxlength="250"/>

            <label>Distance in miles</label>
            <input id="distance" name="distance" type="text" maxlength="250"/>

            <label>Tags</label>
            <input id="tags" name="tags" type="text" maxlength="250"/>
            <span class="help-inline margin-bottom-ten">Separate tags by spaces</span>

        {% else %}

            <label>Name</label>
            <input id="name" name="name" type="text" maxlength="250" value="{{job.name}}"/>

            <label>Sources</label>
            <select multiple>
                {% for source in sources %}
                    {% if source in job.sources %}
                        <option value="{{source}}" selected="selected">{{source}}</option>
                    {% else %}
                        <option value="{{source}}">{{source}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label>Location</label>
            <input id="location" name="location" type="text" maxlength="250" value="{{job.location}}"/>

            <label>Latitude</label>
            <input id="lat" name="lat" type="text" maxlength="250" value="{{job.lat}}"/>

            <label>Longitude</label>
            <input id="lon" name="lon" type="text" maxlength="250" value="{{job.lon}}"/>

            <label>Distance in miles</label>
            <input id="distance" name="distance" type="text" maxlength="250" value="{{job.distance}}"/>

            <label>Tags</label>
            <input id="tags" name="tags" type="text" maxlength="250" value="{{job.tags}}"/>
            <span class="help-inline margin-bottom-ten">Separate tags by spaces</span>

        {% endif %}
        <br/>
        <input type="submit" value="Save"/>
    </form>
    {% endblock %}