{% extends "layout.html" %}
{% block title %}{{job_name}}{% endblock %}
{% block body %}
     <ul id="items">
        {% for item in data %}
            <li>
                    <h6>{{item.data}}</h6>
                    <em>Source: {{item.source}}</em>
                    <em>by {{item.creator}}</em>
                    <em>at {{item.time}}</em>
                    <em > {{item.coordinate_string}}</em>
                    <div class="margin-bottom-10"></div>
                    <hr/>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{config.STATIC_URL}}js/EventSource.js"></script>
    <script>
    var source = new EventSource('/stream/{{job_slug}}');
    source.onmessage = function (event) {
        var dataToPrepend = "";
        for(var i = 0; i < event.data.length; i++){
            item = event.data[i];
            if(item.data){
                dataToPrepend = dataToPrepend + '<li><h6>' + item.data + '</h6><em>Source: ' + item.source +
                    '</em><em>by ' + item.creator +
                    '</em><em> at' + item.time + '</em><em>' + item.coordinate_string +
                    '</em><div class="margin-bottom-10"></div><hr/></li>';
            }
        }
        $('#items').prepend(dataToPrepend);
    };
    </script>
{% endblock %}